* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  html {
    overflow-y: scroll;
  }
  html, body {
    height: 100%;
    width: 100vw;
  }
  h1 {
      margin: 25px 0;
  }
  ul {
    list-style-type: none;
  }
  
  #contact a {
    text-decoration: none;
    text-align: center;
  }
  .active {
    color: black;
    font-weight: bold;
  }
  p {
    padding: 5px 0;
  }

  #skill {
    display: inline;
    grid-column: 1/5;
    grid-row: 1/4;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .skill-items {
    display: grid;
    grid-gap: 1em;
    grid-column: 1;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
  .skill-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto;
    align-self: center;
    justify-self: center;
    margin: 1em;
  }
  .skill-item > .label {
    text-align: center;
  }
  #skill-topic1 {
    display: grid;   
  }
  .skill-img {
    width: 70px;
  }
  #me {
    display: grid;
    width: 15%;
    border-radius: 100%;
  }
  .label {
    font-size: 1em;
    color: rgb(73, 73, 73);
  }
  .text {
    font-size: 1.2em;
  }
  .info {
    font-size: 1em;
  }
  .image {
    margin-bottom: 2em;
    display: grid;
  }
  .content {
      margin-left: 60px;
  }
  .content-text {
    display: grid;
    grid-column: 1/6;
    margin-bottom: 2em;
  }
  .link-wrapper {
      display: flex;
  }
  .link-wrapper>a {
      width: 250px;
        max-width: 100%;
    }
  .btn {
      margin: 10px 0px 10px 0px;
      padding: 15px;
      width: 260px;
      border-radius: 55px;
      color: #FFFFFF;
      background-color: #000000;
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      text-align: center;
      font-size: 0.75em;
      font-weight: 600;
      transition: all .05s ease-in-out;
  }
  .btn:hover {
      transform: scale(1.01);
  }
  .btn:active, .btn:focus {
      transform: scale(.99);
      outline: none !important;
      box-shadow: none !important;
      color: #FFFFFF !important;
  }
  .btn-github { background-color: #000000;}
  .btn-instagram { 
      background: #f09433; 
      background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
      background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
  .btn-shutterstock { background-color: #ee2924;}
  .btn-behance {background-color: #1769ff;}
  
  /* SKILL PROGRESS BAR*/
  .progressBarContainer {
    width: 100%;
    max-width: 350px;
    height: 5px;
    background: #ebebeb;
    overflow: hidden;
    border-radius: 15px;
  }
  .progressBarValue {
    height: 1.66em;
    float: left;
    background: #adadad;
  }
  
  .value-00 { width: 0; }
  .value-10 { width: 10%; }
  .value-20 { width: 20%; }
  .value-30 { width: 30%; }
  .value-40 { width: 40%; }
  .value-50 { width: 50%; }
  .value-60 { width: 60%; }
  .value-70 { width: 70%; }
  .value-80 { width: 80%; }
  .value-90 { width: 90%; }
  .value-100 { width: 100%; }
  
  @media only screen and (max-width: 1080px) {
    #me {
      width: 100px;
    }
    .content {
      margin-left: 5em;
      margin-right: 5em;
    }
    .skill-items {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media only screen and (max-width: 600px) {
    
    a:target {
      font-weight: bold;
    }
    .content {
      margin: 0 20px;
    }
    .label {
      font-size: 0.75em;
    }
    .text {
      font-size: 1em;
    }
    #skill {
      padding: 0;
    }
    .skill-items {
        grid-gap: 1em;
      grid-template-columns: repeat(2, 1fr);
    }
    .link-wrapper>a {
        width: 200px;
      }
  }